<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Users List: User Information App</h1>
<% parsedData.forEach(function(username){ %>
<p>Firstname <%= username.firstname %></p>
<p>Lastname <%= username.lastname %></p>
<p>Email <%= username.email %></p>
 <% }); %>
</body>
</html>
