<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>User matches</h1>
<% for(let i = 0; i < users.length; i++) { %>
<% if(data.searchbar == users[i].firstname || data.searchbar == users[i].lastname){%>
	<p>
		<%= users[i].firstname + ' ' + users[i].lastname %>
	</p>
<% } %>
<% } %>
</body>
</html>
