<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Find someone</h1>
	<form method="post" action="/search">
		<input type="text" name="searchbar" class="search" placeholder="Search Here">
		<input type="submit" name="submit" class="submit" value="submit">
	</form>
</body>
</html>
